<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	
</head>
<body>
	<div class="row bg-info" >
		<div class="col-md-12">
			<h3 class="text-center text-white" style="height: 100px; padding: 30px 0;">Login Page </h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 mx-auto" style="height: 320px;">
	        <form method="POST" enctype="multipart/form-data">
	        
	           {% csrf_token %}
	             <h4 class="text-danger text-center">{{errors}}</h4>
	               {{form.as_p}}
	               <p><button class="btn btn-primary w-100">Submit</button></p>
	        </form>
	        <!-- Don't have account? <a href="{% url 'taskapp:adminstaffregister' %}">Signup Here.</a> -->
			
		</div>
	</div>
          

	
    
</div>
</body>
</html>